<div class="container">
  <h3 mat-dialog-title>Create new Invoice</h3>
  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm" method="post">
    <div class="form">
      <mat-form-field color="accent">
        <mat-label>Customer Name</mat-label>
        <select matNativeControl required placeholder="priority_level" [(ngModel)]="data.customerName" name="customerName">
          <option> Customer 1 </option>
          <option> Customer 2 </option>
          <option> Customer 3 </option>
          <option> Customer 4 </option>
          <option> Customer 5 </option>
        </select>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <mat-label>Product </mat-label>
        <select matNativeControl required placeholder="priority_level" [(ngModel)]="data.product" name="product">
          <option> product 1 </option>
          <option> product 2 </option>
          <option> product 3 </option>
          <option> product 4 </option>
          <option> product 5 </option>
        </select>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input placeholder="Total Amount"  pattern="[0-9]{1,5}" required [(ngModel)]="data.totalAmount" name="totalAmount">
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        <span matSuffix>$&nbsp;</span>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input placeholder="Due Amount" pattern="[0-9]{1,5}" required [(ngModel)]="data.dueAmount" name="dueAmount">
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        <span matSuffix>$&nbsp;</span>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">

        <input matInput [matDatepicker]="picker1" placeholder="Invoice Issued On" required [(ngModel)]="data.issuedOn" name="issuedOn">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">

          <input matInput [matDatepicker]="picker" placeholder="Select Deadline" required [(ngModel)]="data.deadline" name="deadline">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>

        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <mat-label>Status</mat-label>
        <select matNativeControl required placeholder="Status" [(ngModel)]="data.status" name="status">
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          <option> Paid </option>
          <option> Due </option>
          </select>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
