<mat-toolbar color="primary">
  <span>Customer's Invoice App</span>
  <span class="spacer"></span>
  Invoices
  <button mat-icon-button (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>

<div class="container mat-elevation-z8" >
  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
    <ng-container matColumnDef="InvoiceNumber">
      <mat-header-cell *matHeaderCellDef>Invoice Number</mat-header-cell>
      <mat-cell *matCellDef="let row" >{{row.invoiceNumber}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="CustomerName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Customer Name</mat-header-cell>
      <mat-cell *matCellDef="let row" >{{row.customerName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Product">
      <mat-header-cell *matHeaderCellDef>Product</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.product}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="TotalAmount">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Total Amount</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.totalAmount}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="DueAmount">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Due Amount</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.dueAmount}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="IssuedOn">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Issued On</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.issuedOn}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Deadline">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Deadline</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.deadline}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.status}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="addNew()">
          <mat-icon aria-label="Example icon-button">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="accent" (click)="startEdit(i, row.invoiceNumber, row.customerName,  row.product,  row.totalAmount, row.dueAmount, row.issuedOn, row.deadline, row.status)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="deleteItem(i, row.invoiceNumber, row.customerName, row.dueAmount, row.status)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <div class="no-results" >
    No results
  </div>

  <mat-paginator #paginator
                 [length]="dataSource.filteredData.length"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
