<div class="container">
  <h3 mat-dialog-title>Are you sure?</h3>
  <div mat-dialog-content>
    Invoice Number: {{data.invoiceNumber}}
    <p></p>
    Customer Name: {{data.customerName}}
    <p></p>
    Due Amount: {{data.dueAmount}}
    <p></p>
    Status: {{data.status}}
  </div>

  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="1" (click)="confirmDelete()">Delete</button>
    <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
  </div>
</div>
